checkpoints/yolov4-416/*
checkpoints/yolov4-416-disabled
checkpoints/*.tflite
checkpoints/*.weights
android
camera
result
*.weights
/ocr/weights_best.pb.*
venv
detect_simple.py
detect_simple2.py
main.py
*.ipynb
.idea
.vscode
__pycache__
